services:
  maven:
    build: ./jdbc-training
    volumes:
      - ./jdbc-training:/jdbc-training
      - appwar:/app/target # TomcatへのWAR受け渡し用
    # WARをビルドしてTomcatとの受け渡し用のディレクトリにコピーする
    command: /bin/sh -c "mvn clean package -DskipTests && cp /jdbc-training/target/jdbc-training.war /app/target/jdbc-training.war"
  tomcat:
    image: tomcat:10-jdk17-temurin
    ports:
      - "8080:8080"
    volumes:
      - appwar:/usr/local/tomcat/webapps/
    depends_on:
      - mysql
    restart: unless-stopped
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306" # TCP接続用ポート
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pd_shop_db
      MYSQL_USER: shop_user
      MYSQL_PASSWORD: shop_password
      TZ: Asia/Tokyo
    volumes:
      - mysqldata:/var/lib/mysql # データベースの永続化用
    restart: unless-stopped

volumes: # ホストOS上の「Dockerが管理する専用記憶領域」
  appwar: # MavenとTomcatで共有するWARファイル置き場
  mysqldata: # データベースのデータの永続化
